.maig{
    margin-top: 150px;
}

.styleGroup {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }
  .inputLabel {
    text-align: left;
  }
  .inputField {
    height: 30px;
  }